<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center">Dashboard</h1>
        <iframe
            src="https://symmetrical-meme-gw996g9jwvx3vpr4-5601.app.github.dev/app/dashboards#/view/21eb0ef0-b5ac-11ef-bfbe-d5c32bb9ba33?_g=(filters:!(),refreshInterval:(pause:!t,value:5000),time:(from:now-1y%2Fd,to:now))"
            width="500px" height="620px" style="border: 1px solid #ccc;"></iframe>
    </div>
</body>

</html>