<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>


    {% include 'navbar.html' %}


    <div id="dashboard-page">

        <div class="container">


            <h1 class="text-center">Dashboard CSV</h1>
            <iframe
                src="https://5601-cs-71323680741-default.cs-europe-west1-haha.cloudshell.dev/app/dashboards#/view/5f535ff0-b6ff-11ef-bb8d-d3b44edac8f9?_g=(filters:!(),refreshInterval:(pause:!t,value:500),time:(from:now-1y%2Fd,to:now))"
                style="border: 1px solid #ccc;"></iframe>
        </div>
        <div class="container mt-5">
            <h1 class="text-center">Dashboard JSON</h1>
            <iframe
                src="https://5601-cs-71323680741-default.cs-europe-west1-haha.cloudshell.dev/app/dashboards#/view/3ee941f0-b6fd-11ef-bb8d-d3b44edac8f9?_g=(filters:!(),query:(language:kuery,query:''),refreshInterval:(pause:!t,value:500),time:(from:now-1y%2Fd,to:now))"
                width="1100px" height="620px" style="border: 1px solid #ccc;"></iframe>
        </div>
    </div>
</body>


</html>