<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center">Recherche de Logs</h1>
        <form>
            <div class="form-group">
                <label for="searchQuery">Rechercher dans les logs</label>
                <input type="text" class="form-control" id="searchQuery" placeholder="Entrez un mot-clé ou une date">
            </div>
            <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Rechercher</button>
        </form>
    </div>
</body>

</html>