<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/search.css">
</head>

<body>
    {% include 'navbar.html' %}
    <div id="search-page">


        <div class="container">
            <h1 class="text-center">Rechercher des Logs</h1>
            <form>
                <div class="form-group">
                    <input type="text" placeholder="Entrez un mot-clé ou une date">
                    <button type="submit">Rechercher</button>
            </form>
        </div>
    </div>
</body>

</html>